# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [15]:
# Your code goes here
import pandas as pd
import numpy as np

In [16]:
# Load the data from each CSV file
df = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

df = pd.read_csv(file1)

In [17]:
col_names = df.columns
display(col_names)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [8]:
data = {
    'Customer': [],
    'ST': [],
    'GENDER': [],
    'Education': [],
    'Customer Lifetime Value': [],
    'Income': [],
    'Monthly Premium Auto': [],
    'Number of Open Complaints': [],
    'Policy Type': [],
    'Vehicle Class': [],
    'Total Claim Amount': []
}
df = pd.DataFrame(data)

# Rename columns
df.columns = (
    df.columns.str.lower()                # Convert to lowercase
            .str.replace(' ', '_')        # Replace spaces with underscores
)

df = df.rename(columns={'st': 'state'})

# Print updated column names
print("Updated Column Names:")
display(df.columns)

Updated Column Names:

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [27]:
# Load the data from each CSV file
file1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
file3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)

In [28]:
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

In [20]:
#col_names = combined_df.columns
#display(col_names)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

In [33]:
def clean_combined_data(df):
    
    # 1. Standardize column names
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    
    # 2. Handle missing values
    # Numeric columns: fill with median, categorical columns: fill with mode
    for col in df.columns:
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = df[col].fillna(df[col].median())
        elif pd.api.types.is_object_dtype(df[col]):
            df[col] = df[col].fillna(df[col].mode()[0])
    
    # 3. Remove duplicates
    df = df.drop_duplicates()
    
    # 4. Convert data types if needed
    # Convert 'customer_lifetime_value' to numeric safely
    if 'customer_lifetime_value' in df.columns:
        df.loc[:, 'customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

    # Convert 'number_of_open_complaints' safely
    if 'number_of_open_complaints' in df.columns:
        df.loc[:, 'number_of_open_complaints'] = df['number_of_open_complaints'].apply(
            lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else x
        )
        df.loc[:, 'number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

    # Return cleaned DataFrame
    return df

In [34]:
combined_df_cleaned = clean_combined_data(combined_df)

In [35]:
# Display information about the cleaned DataFrame
print("\nCleaned DataFrame Info:")
print(combined_df_cleaned.info())

# Display the first few rows of the cleaned DataFrame
print("\nCleaned DataFrame Head:")
print(combined_df_cleaned.head())

Cleaned DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 9135 entries, 0 to 12073
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9135 non-null   object
 1   st                         9135 non-null   object
 2   gender                     1942 non-null   object
 3   education                  9135 non-null   object
 4   customer_lifetime_value    7078 non-null   object
 5   income                     9135 non-null   float64
 6   monthly_premium_auto       9135 non-null   float64
 7   number_of_open_complaints  9135 non-null   object
 8   policy_type                9135 non-null   object
 9   vehicle_class              9135 non-null   object
 10  total_claim_amount         9135 non-null   float64
 11  state                      9135 non-null   object
 12  gender                     7070 non-null   object
dtypes: float64(3), object(10)
memory usage: 999.1+ KB
None

Cleaned DataFrame Head:
  customer          st gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master             2300.691547
1  QZ44356     Arizona      F              Bachelor                     NaN
2  AI49188      Nevada      F              Bachelor                     NaN
3  WW63253  California      M              Bachelor                     NaN
4  GA49547  Washington      M  High School or Below                     NaN

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                         0   Personal Auto
1      0.0                  94.0                         0   Personal Auto
2  48767.0                 108.0                         0   Personal Auto
3      0.0                 106.0                         0  Corporate Auto
4  36357.0                  68.0                         0   Personal Auto

   vehicle_class  total_claim_amount       state gender
0  Four-Door Car            2.704934  California    NaN
1  Four-Door Car         1131.464935  California    NaN
2   Two-Door Car          566.472247  California    NaN
3            SUV          529.881344  California    NaN
4  Four-Door Car           17.269323  California    NaN

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here